/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191718;
    --clr-blue: #1B2E3C;
    --clr-red: #4D0011;
    --clr-cream: #F3E3E2;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--clr-primary);
}
/* Nav */
.navbar {
    padding: 30px;
    background: var(--clr-blue);
}
.navbar h1{
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
    text-align: left;
    display:none;
}
.navbar .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding-left: 0px; */
    
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.navbar .nav-items li{
    padding: 0 10px;
}
.navbar .nav-items li a {
    color: white;
    text-decoration: none;
}

/* Header */

.header-container {
    background: var(--clr-red);
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.header-container h1 {
    padding: 0 0 10px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 72px;
    line-height: 100%;
}

.header-container p {
    padding-bottom: 40px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.1em;
}

.header-container a {
    padding: 16px 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    color: black;
    border-radius: 4px;
    text-align: center;

    margin: 20px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.main-btn {
    color: white;
    border: 2px solid var(--clr-cream);
    background-image: linear-gradient(30deg, var(--clr-cream) 50%, transparent 50%);
    background-size: 720px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background 300ms ease-in-out;
}

.header-container .alt-btn {
    color: white;
    border: 2px solid #000000;
    background: var(--clr-cream);

    background-image: linear-gradient(30deg, var(--clr-red) 50%, transparent 50%);
    background-size: 720px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background 300ms ease-in-out;
}

/* About section */

.about-container {
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title {
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    padding: 20px 0;
}

.about-container p {
    color:white;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;
    padding: 20px 0;

    text-align: center;
    letter-spacing: 0.1em;
}

/* Tech section */

.technologies-container {
    background: var(--clr-cream);
    padding: 10px 0 30px 0;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.technologies-container h2 {
    color: black;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    text-decoration: underline;
}
.tech-stacks {
    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tech-item {
    display: flex;
    flex-direction: column;

    font-family: Open Sans; 
    font-size: 20px;
    line-height: 100%;

    text-align: center;
    padding: 20px 0;
    margin: 20px;
}
.tech-item i {
    font-size: 100px;
}

.space {
    margin: 60px;
}

/* Projects section */

.projects-container {
    background: var(--clr-red);
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding-bottom: 400px;
}

.projects-container h2 {
    margin-bottom: 10px;
}

.blue {
    background: var(--clr-blue);
    /* position: relative; */
    width: 375px;
    height: 350px;
    padding-top: 25px;
}
.project {
    background: var(--clr-cream);
    color:black;
    margin: 0 15px;
    padding: 13px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 50%;
    max-width: 345px;
}

.image-here {
    margin-top: 20px;
}

.project-content h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    padding: 20px 0;
}

.project-content p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 72px;



    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

.tag-item {
    background: #191718;
    border-radius: 20px;
    padding: 9.5px 10.5px;
    margin: 0 10px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    
}

.demo-btn {
    color: white;
    background: #1B2E3C;
    text-decoration: none;
    border-radius: 4px;
    padding: 16px 72px;
    margin: 5px 0;
}

.code-btn {
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 16px 72px;
    margin: 5px 0;

    border: 2px solid var(--clr-red);
    background-image: linear-gradient(30deg, var(--clr-red) 50%, transparent 50%);
    background-size: 720px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background 300ms ease-in-out;

}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-decoration: none;
    color:white;
    font-family: Work Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
}

.footer-container a {color:inherit;}

/* Media Queries */

@media only screen and (min-width: 570px) {
    .blue {
        width: 100%;
        padding: 40px 0;
    }
    .project {
        width: 80%;
        overflow:hidden;
    }
} 

@media only screen and (min-width: 1200px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .nav-items {
        justify-content: right;
        font-size: 22px;
        line-height: 25px;
        padding-right: 120px;
        position:relative;
    }

    .navbar h1 {
        display:flex;
        padding-left: 120px;
    }

    .navbar .nav-items li{
        margin: 0 25px;
        font-weight: bold;
    }

    .navbar .nav-items li a {
        padding: 5px;
    }

    .navbar .nav-items li a:hover {
        color: black;
        background-color: white;
        transition: color 200ms ease-in-out;
        transition: background-color 200ms ease-in-out;
    }

    .header-container {
        padding: 20px 0;
        padding-bottom: 200px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        color: white;
        text-align: left;

    }

    .header-container .seperate {
        margin: 0 550px 0 100px;
        padding: 100px 120px 0;
    }

    .header-container h1 {
        font-size: 144px;
        padding: 0 120px;
        margin: 0 180px 0 100px;
        text-align: left;
    }

    .header-container p {
        padding: 0 120px;
        margin: 0 100px;
        justify-content:left;
        text-align: left;
    }

    .header-container .hero-btn {
        padding: 40px 120px 0;
        margin: 0 100px;
    }
    .hero-btn {
        display: flex;
        flex-direction: row;
    }
     
    .main-btn:hover {
        background-position: 100%;
        color: var(--clr-cream);
    }

    .alt-btn:hover {
        background-position: 100%;
        color: black;
    }

    .about-container {
        align-items:flex-start;
        text-align: left;

        padding: 0 120px;
    }

    .about-container p {
        font-size: 36px;
        line-height: 160%;

        text-align: center;
        letter-spacing: 0.1em;
        padding: 0 120px;
        margin: 40px 220px;
    }

    .section-title {
        font-weight: bold;
        font-size: 96px;
        line-height: 100%;
    }

    .glider {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blue {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .code-btn:hover {
        background-position: 100%;
        color: black;
    }
} 